# Choose one authentication method and comment out the other (config/api-client.ts)
# VITE_TMDB_API_KEY=
# VITE_TMDB_ACCESS_TOKEN=
# VITE_TMDB_BASE_URL=https://api.themoviedb.org/3

# Streaming API reference (testing endpoint)
# VITE_STREAMING_BASE_URL=https://zeldvorik.ru/apiv3/api.php